@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Lato', sans-serif;
    background: #78c3e9;
}


.outer-calc {
    display: flex;
	justify-content: center;
	align-items: center;
	margin: 10rem auto;
	margin-bottom: 2rem;
}

.calc {
    max-width: 350px;
	width: 100%;
    border-radius: 1rem;
	box-shadow: 5px 5px 12px rgba(0,0,0,0.5);
    background: #323232;
    padding: 20px;
}

.display {
    background-color: #757575;
    color: rgb(255, 255, 255);
    height: 100px;
    border-radius: 5px;
    margin-bottom: 25px;
    position: relative;
    padding: 0px 10px;
    overflow: hidden;
}

.operation {
    height: 45%;
    text-align: right;
    font-size: 1.5rem;
    padding-top: 10px;
    color: #f3f4c7;
}

.result {
    height: 55%;
    text-align: right;
    font-size: 2.5rem;
}

.calc-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.btn {
    font-family: 'Lato', sans-serif;
    background: #757575;
    border: none;
    outline: none;
    padding: 20px 10px;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;
    color: white;
}

.equals {
    grid-column: 3 / 5;
}

.btn:hover {
    background: #4a4a4a;
}

.btn:active {
    transform: scale(0.90);
}

.footer {
    text-align: center;
    margin-top: 2rem;
    text-shadow: #524949 1px 1px 1px;
}

a {
    text-decoration: none;
    color: #f3f4c7;
    font-weight: 600;
}